* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

li {
  margin-top: 15px;
}

h3 {
  font-size: 18px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

header {
  background-color: rgb(115, 252, 179);
}

.current-tasks-title,
.completed-tasks-title {
  margin-top: 20px;
}


.task .status {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.task.backlog .status {
  background-color: #ffa726;
  color: #fff;
}

.task.in_progress .status {
  background-color: #29b6f6;
  color: #fff;
}

.task.completed .status {
  background-color: #66bb6a;
  color: #fff;
}