* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}